body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.studio-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: black;
  will-change: opacity;
}

/* Performance Isolation: Hide background elements when studio is active */
.studio-active>nav,
.studio-active>header,
.studio-active>.compartments-grid,
.studio-active>footer {
  display: none !important;
}

.studio-active {
  background: black;
  overflow: hidden;
}

.studio-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}