body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.studio-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: black;
}

.studio-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}